
<%= current_user.authentications.length %>

<% if @authentications %>
  User has Authentications
  <% unless @authentications.empty? %>
    <p><strong>You can sign in to this account using:</strong></p>
    <div class="authentications">
      <% @authentications.each do |authentication| %>
        <div class="authentication">
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
          <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>
  <% end %>
  <p><strong>Add another service to sign in with:</strong></p>
<% else %>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>

<% unless @authentications.select{ |a| a.provider == "facebook" }.any? %>
  <%= link_to "Facebook", '#', class: "fb-connect" %> <%= link_to "X", '#', class: 'fb-disconnect' %>
<% end %>