


<div class="row push-down">

  <div class="col-md-10 col-md-offset-1">

    <div class="col-md-4 card-container normal-card">

      <!-- User Image and Username -->
      <div class="row no-margin">
        <div class="col-md-4">
          <img  class="" src="<%= current_user.gravatar_url %>" alt="" />
        </div>
        <div class="col-md-8"><h3><%= current_user.username %></h3></div>
      </div>

      <!-- User Item Count and User Borrower Count -->

      <div class="row info-subhead">

        <div class="col-md-6">

          <h4>Items</h4>

          <div class="row">
            <div class="col-md-12">
              <%= current_user.items.count %>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <h4>Borrowers</h4>

          <div class="row">
            <div class="col-md-12">
              <%= current_user.borrowers.count %>
            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-md-7 col-md-offset-1 card-container">
        <div class="row">
          <div class="col-md-12 inventory-header">
            <div class="row">
              <div class="col-md-4 inv-header-container">
                <h4 class="white-header">User Inventory</h4>
              </div>

              <div class="col-md-4 pull-right">
                <%= link_to "<i class='glyphicon glyphicon-plus'></i> Add Loan".html_safe, new_loan_url, class: "btn btn-default pull-right" %>
                <!-- <button class="btn btn-default"><i class="glyphicon glyphicon-plus"></i> Add New Item</button> -->
              </div>
            </div>

          </div>

        </div>

        <div class="row">

          <% current_user.loans.each do |loan| %>
            <div class="col-md-12 float-left item-unit">
              <div class="col-md-4">
                <%= image_tag loan.item.image.url, class: "img-square" %>
              </div>
              <div class="col-md-8">

                <h4><%= loan.item.name %></h4>
                <h5>Borrowed by <%= loan.borrower.name %></h5>
                <h6>Borrowed on <%= loan.loaned_on %>, should return by <%= loan.return_by %></h6>

              </div>
            </div>
          <% end %>
        </div>

    </div>

  </div>

 </div>