
<div class="col-md-6 col-md-offset-3">
  <h1>Add a New Item</h1>
  <%= bootstrap_form_for @item, :multipart => true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :name, layout: :default, class: "form-control" %>

      <%= f.file_field :image, inline: true %> <br>
      <%= f.text_field :image_url, label: "Upload image from URL . . . ", layout: :inline %>

    <%= submit_tag "Add Item", class: "btn btn-large btn-primary", layout: :default %>
  <% end %>
</div>