<%# add navigation links to this file %>
<ul class="nav navbar-nav">
<% if signed_in? %>
  <li><%= link_to "Dashboard", '#' %></li>
  <li><%= link_to "Inventory", items_path %></li>
  <li><%= link_to "Loans", '#' %></li>
  <li><%= link_to "Borrowers", '#' %></li>


<% end %>
</ul>


<ul class="nav navbar-nav navbar-right">
  <% if signed_in? %>
    <li><%= link_to current_user.username, "#" %></li>
    <li><%= link_to "Social Accounts", authentications_path %></li>
    <li><%= link_to "Logout", logout_path, method: 'delete' %>
  <% else %>
    <li class="pull-right"><%= link_to 'Register', register_path %></li>
    <li class="pull-right"><%= link_to "Login", login_path %></li>
  <% end %>
</ul>
